<!-- Layout Modal -->
            <div class="modal fade" id="layouts-section-1" tabindex="-1" role="dialog" aria-labelledby="layouts-section-1-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header custom_modal_header">
                            <button type="button" class="close custom_modal_btn" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title custom_modal_title" id="layouts-section-1-label">Select Layout</h4>
                        </div>
                        <div class="modal-body">
                            <form action="" onsubmit="return false;" autocomplete="off">
                                <ul class="layout_thumbs no-list layout-list" align="center">
                                    <li class="stack-item">
                                        <input id="layout-grid-1" data-room="1" data-tile-id="1" value="grid" class="layout-type-input" type="radio" name="layout-type-1" checked>
                                        <label class="layout-type-label" aria-label="Grid" for="layout-grid-1">
                                            <img src="/app/visualizer/layout_thumbs/grid.png" alt="Grid">
                                        </label>
                                    </li>
                                    <li class="stack-item">
                                        <input id="layout-brickRow-1" data-room="1" data-tile-id="1" value="brickRow" class="layout-type-input" type="radio" name="layout-type-1">
                                        <label class="layout-type-label" aria-label="Brick Row" for="layout-brickRow-1">
                                            <img src="/app/visualizer/layout_thumbs/brickRow.png" alt="Brick Row">
                                        </label>
                                    </li>
                                    <li class="stack-item">
                                        <input id="layout-brickColumn-1" data-room="1" data-tile-id="1" value="brickColumn" class="layout-type-input" type="radio" name="layout-type-1">
                                        <label class="layout-type-label" aria-label="Brick Column" for="layout-brickColumn-1">
                                            <img src="/app/visualizer/layout_thumbs/brickColumn.png" alt="Brick Column">
                                        </label>
                                    </li>
                                    <li class="stack-item">
                                        <input id="layout-checkered-1" data-room="1" data-tile-id="1" value="checkered" class="layout-type-input" type="radio" name="layout-type-1">
                                        <label class="layout-type-label" aria-label="Checkered" for="layout-checkered-1">
                                            <img src="/app/visualizer/layout_thumbs/checkered.png" alt="Checkered">
                                        </label>
                                    </li>
                                    <li class="stack-item">
                                        <input id="layout-dragdrop-1" data-room="1" data-tile-id="1" value="dragdrop" class="layout-type-input" type="radio" name="layout-type-1">
                                        <label class="layout-type-label" aria-label="Free Design" for="layout-dragdrop-1">
                                            <img src="/app/visualizer/layout_thumbs/dragdrop.png" alt="Free Design">
                                        </label>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <div class="modal-footer custome_modal_footer">
                            <button class="btn btn-default btn-sm custom_default_btn" type="button" data-dismiss="modal">Close</button>
                            <button class="btn btn-default btn-sm custom_primery_btn" type="button">Select</button>
                        </div>
                    </div>
                </div>
            </div>
<!-- Layout Modal -->
<div class="modal fade" id="layouts-section-2" tabindex="-1" role="dialog" aria-labelledby="layouts-section-2-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header custom_modal_header">
                <button type="button" class="close custom_modal_btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title custom_modal_title" id="layouts-section-2-label">Select Layout</h4>
            </div>
            <div class="modal-body">
                <form action="" onsubmit="return false;" autocomplete="off">
                    <ul class="layout_thumbs no-list layout-list" align="center">
                        <li class="stack-item">
                            <input id="layout-grid-2" data-room="2" data-tile-id="2" value="grid" class="layout-type-input" type="radio" name="layout-type-2" checked>
                            <label class="layout-type-label" aria-label="Grid" for="layout-grid-2">
                                <img src="/app/visualizer/layout_thumbs/grid.png" alt="Grid">
                            </label>
                        </li>
                        <li class="stack-item">
                            <input id="layout-brickRow-2" data-room="2" data-tile-id="2" value="brickRow" class="layout-type-input" type="radio" name="layout-type-2">
                            <label class="layout-type-label" aria-label="Brick Row" for="layout-brickRow-2">
                                <img src="/app/visualizer/layout_thumbs/brickRow.png" alt="Brick Row">
                            </label>
                        </li>
                        <li class="stack-item">
                            <input id="layout-brickColumn-2" data-room="2" data-tile-id="2" value="brickColumn" class="layout-type-input" type="radio" name="layout-type-2">
                            <label class="layout-type-label" aria-label="Brick Column" for="layout-brickColumn-2">
                                <img src="/app/visualizer/layout_thumbs/brickColumn.png" alt="Brick Column">
                            </label>
                        </li>
                        <li class="stack-item">
                            <input id="layout-checkered-2" data-room="2" data-tile-id="2" value="checkered" class="layout-type-input" type="radio" name="layout-type-2">
                            <label class="layout-type-label" aria-label="Checkered" for="layout-checkered-2">
                                <img src="/app/visualizer/layout_thumbs/checkered.png" alt="Checkered">
                            </label>
                        </li>
                        <li class="stack-item">
                            <input id="layout-dragdrop-2" data-room="2" data-tile-id="2" value="dragdrop" class="layout-type-input" type="radio" name="layout-type-2">
                            <label class="layout-type-label" aria-label="Free Design" for="layout-dragdrop-2">
                                <img src="/app/visualizer/layout_thumbs/dragdrop.png" alt="Free Design">
                            </label>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="modal-footer custome_modal_footer">
                <button class="btn btn-default btn-sm custom_default_btn" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-default btn-sm custom_primery_btn" type="button">Select</button>
            </div>
        </div>
    </div>
</div>

