<div class="modal_info modal fade" id="modal_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header custom_modal_header">
						<h4 class="modal-title custom_modal_title" id="myModalLabel">Product Information</h4>
					</div>
					<div class="modal-body">
						<div class="content_wrapper">
							<ul class="nav nav-tabs prod-info-tabs" role="tablist" id="myTab">
																<li role="presentation" class="active"><a href="#1Tab" aria-controls="1Tab" role="tab" data-toggle="tab">Wall</a></li>
																<li role="presentation" class=""><a href="#2Tab" aria-controls="2Tab" role="tab" data-toggle="tab">Floor</a></li>
															</ul>
							<div class="tab-content">
																<div role="tabpanel" class="tab-pane active" id="1Tab">
									<div class="tabs-content-wrapper">
										<div id="tile_info_list_1"></div>
										<div id="tile_info_list_shapes_1"></div>
									</div>
								</div>

																<div role="tabpanel" class="tab-pane " id="2Tab">
									<div class="tabs-content-wrapper">
										<div id="tile_info_list_2"></div>
										<div id="tile_info_list_shapes_2"></div>
									</div>
								</div>

															</div>
						</div>
					</div>
					<div class="modal-footer custome_modal_footer">
						<button type="button" class="btn btn-default btn-sm custom_default_btn" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

